@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #1e2028;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
@media (min-width: 768px) {
	.container {
		min-width: 950px;
	}
}
h1,
h2 {
	color: #ffffff;
}
.logo {
	font-weight: bold;
	font-size: 20px;
	color: #fff;
	background: #1e2028;
}
.secondary-bg-color {
	background-color: #252731;
}
.primary-bg-color {
	background-color: #1e2028;
}
.font-color {
	color: #9c9dae;
}
.bg-card {
	background-color: #1e2028;
	border-color: #4338ca;
}
.bg-border {
	border-color: #4338ca;
}
.accent-color {
	color: #4438ca;
}
.rti--container.go309598777 {
	border: 1px solid #9c9dae99;
	padding: 1em;
	border-radius: 5px;
	background-color: #252731;
}
.rti--tag.go1186250972 {
	color: #fff;
	background: #4338ca;
	padding: 0.5em 0.8em;
	border-radius: 2em;
	margin-right: 0.8em;
	margin-bottom: 0.8em;
}
.rti--input.go3450369076 {
	padding: 0.5em;
	background-color: transparent;
	color: #9c9dae;
}

.input-border-color {
	border-color: #9c9dae99;
}

/* Toggle is hirable switch styles */
.toggle-bg:after {
    content: '';
    @apply absolute top-0.5 left-0.5 bg-white border border-gray-300 rounded-full h-5 w-5 transition shadow-sm;
}

input:checked + .toggle-bg:after {
    transform: translateX(100%);
    @apply border-white;
}

input:checked + .toggle-bg {
    @apply bg-indigo-700 border-indigo-700;
}
